@charset "UTF-8";

nav a:hover {
    background: #03e9f4;
    color: rgba(255, 255, 255, 0.675);
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    transition-delay: 0.2s;
    border: none;
}